.basket_contents {
    width: 60%;
    font-weight: 200;
    margin-top: 30px;
    padding-left: 30px;
    min-width: 350px;
    border-left: 2px dashed black;
}

.list_of_products {
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

td {
    padding: 15px;
    border-bottom: 3px solid #d4d4d4;
    font-size: 18px;
    font-weight: 400;
}

th {
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 3px solid grey;
    background-color: #F1EFEF;
}

.table_view {
    visibility: hidden;
}

.cart_button {
    background-color: white;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.button_plus {
    background-image: url(../../../img/icons/button_plus-icon.png);
    height: 20px;
    width: 20px;
    margin-left: 15px;
}

.button_minus {
    background-image: url(../../../img/icons/button_minus-icon.png);
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.button_delete {
    background-image: url(../../../img/icons/delete_all-icon.png);
    height: 40px;
    width: 30px;
}

.total {
    text-align: right;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    width: 50%;
    float: right;
    visibility: hidden;
}

.total_num {
    font-size: 30px;
    font-weight: 400;
}

.button_clean_cart {
    visibility: hidden;
    margin-top: 20px;
    background-color: #54b8ff;
}

.clean_cart:hover {
    visibility: hidden;
    background-color: #30a9ff;
}

.empty_cart {
    display: block;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-top: 150px;
}