* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 106px;
    background-color: #2F2F30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.header_container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 47.5px;
    padding-right: 27px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.header_logo {
    padding-right: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_search {
    display: flex;
    width: 500px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: #2F2F30;
}

.header_search_input_wrapper {
    width: 316px;
    display: flex;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    background-color: #2F2F30;
}

.header_search_input {
    background-color: #2F2F30;
    color: #FFFFFF;
    height: 33px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.header_search_dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 148px;
    border-right: 1px solid #FFFFFF;
    font-weight: 300;
}

.header_select {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header_select_title {
    position: relative;
    width: 133px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: #C7C7C7;
}

.header_select_title::after {
    content: "";
    display: block;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #2F2F30;
    background-image: url(https://raw.githubusercontent.com/bmstu-iu9/utp2020-2-shop/master/img/icons/arrow-icon.png);
}

.header_select_dropdown {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    border: 1px solid #FFFFFF;
    border-radius: 0 0 4px 4px;
    background-color: #2F2F30;
}

.hidden {
    display: none;
}

.header_select_dropdown_item {
    height: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #C7C7C7;
    padding-left: 6px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
}

.header_select_dropdown_item:last-child {
    border-bottom: none;
}


.header_select_dropdown_item:hover {
    background-color: #6B6B6B;
}

.header_search_button_wrapper {
    flex-grow: 1;
    background-color: #2F2F30;
}

.header_search_button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header_telephone {
    padding-right: 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
    width: 100%;
    height: 1600px;
    background-color: #FFFFFF;
}

.main__nav {
    width: 100%;
    height: 64px;
    background-color: #2F2F30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 1px solid #FFFFFF;
}

.main_nav {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.main_nav>input {
    display: none;
}

.tab-nav-1-container,
.tab-nav-2-container,
.tab-nav-3-container,
.tab-nav-4-container {
    width: 264px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-nav-4-container {
    border-right: 1px solid #FFFFFF;
}

.main_nav>label {
    border-left: 1px solid #FFFFFF;
    display: block;
    float: left;
    cursor: pointer;
    transition: background-color .3s;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main_nav>label:hover,
.main_nav>input:checked+label {
    background: #6B6B6B;
}

.tabs {
    clear: both;
    perspective: 600px;
}

.tabs>div {
    width: 1060px;
    position: absolute;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    position: absolute;
    opacity: 0;
    transition: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
}

#tab-nav-1:checked~.tabs>div:nth-of-type(1),
#tab-nav-2:checked~.tabs>div:nth-of-type(2),
#tab-nav-3:checked~.tabs>div:nth-of-type(3),
#tab-nav-4:checked~.tabs>div:nth-of-type(4) {
    transform: rotateX(0deg);
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 1060px) {
    .main_nav {
        width: 400px;
    }

    .main_nav>label {
        display: none;
    }

    .tabs>div {
        padding: 0;
        width: 400px;
        border: none;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }

    .tabs>div {
        border-bottom: 1px solid #FEDCBA;
        padding-bottom: .5em;
    }


    #tab-nav-1:checked~.tabs>div:nth-of-type(1) {
        padding-top: 75px;
    }
}

/*//////////
   Форма связи
//////////*/

.basket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.feedback_form {
    width: 50%;
    font-weight: 200;
    margin-top: 30px;
    min-width: 350px;
}

.form-caption {
    font-size: 24px;
    margin-bottom: 0 auto;
}

.red {
    color: red;
}

.feedback_input {
    width: 345px;
    height: 41px;
    padding: 10px;
    margin-top: 0 auto;
    background-color: #F1EFEF;
    border: 2px solid #eee;
    border-radius: 7px;
    box-shadow: 0px 3px 2px 0px #ada8a8;
    font-size: 18px;
}

.comment {
    resize: vertical;
    width: 345px;
    padding-left: 10px;
    margin-top: 30px;
    background-color: #F1EFEF;
    border: 2px solid #eee;
    border-radius: 7px;
    box-shadow: 0px 3px 2px 0px #ada8a8;
    font-size: 18px;
}

textarea[type="comment"]::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea[type="comment"]:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea[type="comment"]::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea[type="comment"]::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input[type="text"]::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea[type="text"]:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea[type="text"]::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

textarea[type="text"]::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.button-submit {
    margin-top: 10px;
    width: 250px;
    height: 41px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 3px 2px 0px #ada8a8;
    background-color: #2764F4;
    font-size: 20px;
    color: #FFFFFF;
}

.radio-button:disabled:before {
    width: 100px;
    background-color: #C4C4C4;
}

.delivery-comment {
    padding-left: 24px;
    font-size: 15px;
}

.delivery {
    width: 345px;
    font-size: 20px;
    line-height: 0.6;
    margin-top: 20px;
    margin-left: 10px;
}

.basket_contents {
    width: 50%;
    font-weight: 200;
    margin-top: 30px;
    padding-left: 60px;
    min-width: 350px;
}

/*///////////////*/

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1060px;
    float: left;
}

.container_mini {
    width: 750px;
    background-color: white;
    margin-bottom: 30px;
    height: 120px;
    margin-right: 310px;
    border-radius: 25px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.column_r {
    background-color: white;
    box-shadow: 0 0 5px 2px;
    border-radius: 25px;
}

.column {
    height: 180px;
    width: 330px;
    margin-right: 20px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.column:last-child {
    margin-right: 0px;
}

/*//////////
    Инфо 
//////////*/


.info_about_company {
    background-image: url(https://raw.githubusercontent.com/bmstu-iu9/utp2020-2-shop/master/img/background-info.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 73vh;
}

.info_title {
    text-align: center;
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 25px;
}

.info_container {
    width: 600px;
    font-size: 20px;
    font-weight: 300;
    float: left;
    margin-top: 15px;
    padding-left: 10px;
}

.info_container_img {
    float: left;
    background-color: #d6d6d6;
    margin-top: -20px;
    width: 130px;
    height: 130px;
    border-radius: 25px;
}

.info_container_img_left {
    margin-left: 10px;
}

.info_img {
    margin-left: 30px;
    margin-top: 5px;
}

.info_img_text {
    text-align: center;
    font-weight: 500;
    font-size: 18px
}

/*//////////
   Отзывы 
//////////*/

.responses {
    height: 500px;
}

.response_container {
    background-color: white;
    box-shadow: 0 0 5px 2px;
    border-radius: 25px;

    height: 270px;
    width: 700px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 70px;
}

.responses_title {
    font-weight: 300;
    width: 900px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
    font-size: 46px;
    text-align: center;
    line-height: 2;
}

.responses_title_bottom {
    font-weight: 300;
    margin-left: -720px;
    margin-bottom: 40px;
}

.response_item_name {
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 10px;
    padding-top: 10px;
}

.response_item_text {
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
}

/*//////////
   Слайдер
//////////*/

.wrapper {
    height: 350px;
}

.wrapper>input {
    display: none;
}

.slider {
    height: inherit;
    position: relative;
    width: inherit;
}

.controls {
    margin-top: 70px;
    margin-bottom: 30px;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
}

.wrapper label:after {
    border: 2px solid #2F2F30;
    content: "";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    border-radius: 50%;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4),
#slide5:checked~.controls label:nth-of-type(5) {
    background: #2F2F30;
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4,
#slide5:checked~.slider>.slide5 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

/*//////////
   Подвал 
//////////*/


footer {
    width: 100%;
    height: 30vh;
    background-color: #2F2F30;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.company_name {
    font-size: 50px;
    font-weight: 300;
}

.company_name_text {
    font-size: 21px;
    font-weight: 300;
}

.contacts {
    font-size: 32px;
    font-weight: 300;
}

.img {
    float: left;
}

.contacts_text {
    font-size: 21px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 15px;
}

.icon_product {
    margin-top: 20px;
    margin-right: 16px;
}

.icon_product:last-child {
    margin-right: 0px;
}



@media screen and (max-width: 1090px) {
    .info_about_company {
        height: 900px;
    }

    .container_mini {
        width: 500px;
        height: 170px;
        margin-right: 0px;
    }

    .info_container {
        width: 350px;
        margin-top: 20px
    }

    .responses_title {
        width: 500px;
    }

    .responses_title_bottom {
        margin-left: 0px;
    }

    .container {
        max-width: none;
    }

    .column {
        float: none;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .column:last-child {
        margin-bottom: 0px;
    }

    footer {
        height: 600px;
        text-align: center;
    }

    .company_name {
        margin-top: 20px;
    }

    .company_name_text {
        margin-top: 20px;
    }

    .contacts_text {
        margin-left: 30px;
    }
}